<style>
    .discover-cards-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 30px;
    margin: 0 10px;
}

.discover-cards img {
    width: 100%;
    display: flex;
    height: 100%;
    border-radius: 8px 8px 0 0;
}

.discover-fvrts-cards {
    width: 100%;
    max-width: 1130px;
    margin: auto;
}

.discover-cards {
    background-color: white;
    border-radius: 8px;
}

.discover-favrs {
    background: #EDF5FF;
    padding: 70px 0;
}

.discover_info {
    padding: 10px;
}

.discover_info-ttl h3 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #1E3851;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 5px;
}

.discover_info-ttl {
    border-bottom: 0.5px solid #0000001A;
}

.discover_info_prices h6 {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    color: #989898;
    text-decoration: line-through;
    margin: 0;
}

.discover_info_prices h4 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    /* line-height: 36px; */
    text-align: left;
    margin: 0;
}

.discover_info_prices h5 {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    text-align: left;
    margin: 0;
    color: red;
}

.discover_info_prices {
    margin: 20px 0 10px 0;
}
h2.discover-title {
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 63px;
    text-align: center;
    color: #1E3851;
    margin-top: 0;
}
.discover-cards-main a {
    text-decoration: none;
}

@media only screen and (max-width: 900px) {
    .discover-cards-main {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
}


@media only screen and (max-width: 600px) {
    .discover-cards-main {
    grid-template-columns: repeat(2, 1fr);
    }
    h2.discover-title {
        font-size: 24px;
        margin: 0;
    }
    .discover-favrs {
    padding: 40px 0;
}
    .discover-favrs {
        padding-top: 10px;
    }
}



</style>


<div class="discover-favrs">
    <div class="discover-fvrts-cards">
       <h2 class="discover-title"> {{ section.settings.text }}</h2> 
        <div class="discover-cards-main">
        {%- for block in section.blocks -%}
           <a href="{{ product.url }}">
            <div class="discover-cards">
                {%- assign product = block.settings.product -%}
                <div class="discover_img">
                    {% if product.featured_image != blank %}
                     <img src="{{ product.featured_image | img_url: 'master' }}">
                    {% endif %}
                </div>
                <div class="discover_info">
                    <div class="discover_info-ttl">
                        <h3>
                            {{ product.title }}
                        </h3>
                    </div>
                    <div class="discover_info-pp">
                        <div class="discover_info_prices">
                            <h6>{{ product.compare_at_price | money }}</h6>
                            <h4>{{ product.price | money }}</h4>
                            <h5>Save {{ product.compare_at_price | minus: product.price | money }}</h5>
                        </div>
                        <div class="discover_info_card_small">

                        </div>
                    </div>
                </div>
            </div> 
           </a>
        {%- endfor -%}    
      </div>
    </div>
</div>





{% schema %}
  {
  "name": "Discover Your Favourites",
  "settings": [
    {
      "type": "text",
      "label": "Text",
      "id": "text"
    }
  ],
  "blocks": [
    {
      "name": "Block",
      "type": "block",
      "settings": [
        {
          "type": "product",
          "label": "Product",
          "id": "product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Discover Your Favourites"
    }
  ]
}  
{% endschema %}