<style>
    .the-bg-img img {
    width: 100%;
    display: flex;
    height: 100vh;
    max-height: 628px;
    object-fit: cover;
}
.full-bg-img {
    position: relative;
}

.bg-img-position-ele {
    position: absolute;
    background: white;
    opacity: 0.85;
    max-width: 585px;
    right: 16%;
    border-radius: 8px;
    top: 4%;
    padding: 25px;
}

.sleepy-block {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.sleepy-heading h2 {
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 63px;
    text-align: center;
    margin: 0;
    color: #1E3851;
}

.sleepy-block * {
    margin: 0;
}

.sleepy-text h3 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #1E3851;
}

.sleepy-text h4 {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #1E3851;
}

.sleepy-blocks {
    margin-top: 15px;
}
.sleepy-reviews {
    display: flex;
    justify-content: space-between;
}

.sleepy-revires-w-txt {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sleepy-reviews a {
    color: white;
    background: #F89201;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 8px;
    font-family: Poppins;
}

.sleepy-revws-nmbr p {
    margin: 0;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #1E3851;
}
.sleepy-rvws {
    display: flex;
}
.payments-all img {
    width: 100%;
    display: flex;
    margin: 20px 0 0 0;
}
.payments-mbil {
    display: none;
}
@media only screen and (max-width: 769px) {
    .bg-img-position-ele {
        right: 10%;
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .bg-img-position-ele {
        margin: auto;
        max-width: 90%;
        inset: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .the-bg-img img {
    min-height: 800px;
    }
    .sleepy-heading h2 {
        font-size: 24px;
        line-height: 36px;
    }

    .sleepy-block {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .sleepy-text {
    }

    .sleepy-text h3 {
        text-align: center;
    }

    .sleepy-text h4 {
        text-align: center;
    }

    .sleepy-reviews {
        flex-direction: column;
    }

    .sleepy-reviews a {
        max-width: 233px;
        margin: auto;
    }

    .sleepy-revires-w-txt {
        flex-direction: column;
    }

    .payments-mbil {
        display: block;
        margin-bottom: 20px;
    }   

    .payments-desktop {
        display: none;
    }
    .sleepy-revws-nmbr p {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 520px) {
    .the-bg-img img {
        min-height: 930px;
    }
}

@media only screen and (max-width: 420px) {
    .the-bg-img img {
        min-height: 1000px;
    }
}

</style>

<div class="full-bg-img">
    <div class="the-bg-img">
        {%- assign image = section.settings.bg_img -%}
       {% if image != blank %} <img src="{{ image | img_url : 'master' }}"> {% endif %}
    </div>
    <div class="bg-img-position-ele">
        <div class="sleepy-heading">
            <h2>{{ section.settings.text}}</h2>
        </div>
        <div class="sleepy-blocks">
            {%- for block in section.blocks -%}
                
                <div class="sleepy-block">
                    <div class="sleepy-img">
                        {%- assign icon_img = block.settings.icon -%}
            {% if icon_img != blank %}<img src="{{ icon_img | img_url : 'master' }}">{% endif %}
                        </div>
                    <div class="sleepy-text">
                        <h3>{{ block.settings.heading }}</h3> 
                        <h4>{{ block.settings.text }}</h4> 
                    </div>
                </div>
            {%- endfor -%}
        </div>
        <div class="position-div-last-elm">
            <div class="sleepy-reviews">
                <a href=""{{ section.settings.url }}>{{ section.settings.btn-txt }}</a>
                <div class="payments-all payments-mbil">
                    {%- assign paymetns = section.settings.payments -%}
                        {% if paymetns != blank %}
                            <img src="{{ paymetns | img_url : 'master' }}">
                         {% endif %}
                </div>
                <div class="sleepy-revires-w-txt">
                    <div class="sleepy-rvws">
                        {%- assign reviews = section.settings.rv_img -%}
                        <img src="{{ reviews | img_url : 'master' }}">
                    </div>
                    <div class="sleepy-revws-nmbr">
                        <p>{{ section.settings.revws_nmbrs }}</p>
                    </div>
                </div>
            </div>
            <div class="payments-all payments-desktop">
                {%- assign paymetns = section.settings.payments -%}
                    {% if paymetns != blank %}
                        <img src="{{ paymetns | img_url : 'master' }}">
                     {% endif %}
            </div>
        </div>

    </div>
</div>

{% schema %}
  {
  "name": "Sleepy Divan Beds",
  "settings": [
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "bg_img"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "text"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "btn-txt"
    },
    {
      "type": "url",
      "label": "Button Url",
      "id": "url"
    },
    {
      "type": "image_picker",
      "label": "Reviews Image",
      "id": "rv_img"
    },
    {
      "type": "text",
      "label": "Reviews text",
      "id": "revws_nmbrs"
    },
    {
      "type": "image_picker",
      "label": "Payments Image",
      "id": "payments"
    }
  ],
  "blocks": [
    {
      "name": "Block",
      "type": "block",
      "settings": [
        {
          "type": "image_picker",
          "label": "Icon",
          "id": "icon"
        },
        {
          "type": "text",
          "label": "Block Heading",
          "id": "heading"
        },
        {
          "type": "text",
          "label": "Block Text",
          "id": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sleepy Divan Beds"
    }
  ]
}  
{% endschema %}

